/* .dropzone {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vmin;
    height: 40vmin;
    border: 3px dashed #000;
    border-radius: 10px;
} */